/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower



/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector


a.item.disabled, .item.disabled p,
a.item.completed, .item.completed p {
  color: #ccc;
  pointer-events: none;
  cursor: default;
}


.ion-ios-checkmark {
  color: #33cd5f;
}